.bosses-container {
  width: 85vw;
  max-width: 90vw;
  height: 75vh;
  max-height: 85vh;
  background-image: url('/public/images/bestiarymenu.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row; 
  padding: 2vw;
  overflow-y: auto;
  margin: auto;
}

.categories {
  width: 30vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  overflow: hidden;
}

.category-buttons {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.category-button {
  background-color: #310000;
  color: white;
  border: none;
  padding: 1.2vw;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.category-button:hover {
  background-color:#550808;
}

.category-button.active {
  background-color: #8f1717;
}

.boss-gallery {
  margin-left: 15vw;
  width: 35vw;
  padding: 2vw;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  align-items: center;
}

.B-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.boss-card {
  text-align: center;
  width: 13vw;
  padding: 1vw;
  border-radius: 1rem;
  background-color: #ffefefc2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.363);
  transition: transform 0.3s;
}

.boss-card:hover {
  transform: scale(1.25);
}

.boss-image {
  width: 100%;
  height: auto;
}

.boss-name {
  margin-top: 1vw;
  font-size: 1.5rem;
}
