.char {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.char-container {
  width: 50vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11vh 5vw 5vh 5vw; 
  overflow-y: auto;
  aspect-ratio: 1 / 1; 
}

.char-container-2 {
  background-image: url('/public/images/unnamed (2).png');
}

.char-container-3 {
  background-image: url('/public/images/unnamed (3).png');
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.character-card {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  max-width: 150px;
  transition: transform 0.2s;
}

.character-card:hover {
  transform: scale(1.05);
}

.character-card img {
  width: 100%;
  border-radius: 5px;
}


.character-details {
  width: 28vw;
  max-width: 32vw;
  padding: 6vw;
  background-image: url('/public/images/unnamed (5).png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

.life_img {
  width: 10%;
} 