.enemies-container {
  width: 85vw;
  max-width: 90vw;
  height: 75vh;
  max-height: 85vh;
  background-image: url('/public/images/bestiarymenu.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  padding: 2vw;
  overflow-y: auto;
  margin: auto;
}

.gallery {
  width: 40vw;
  padding: 10px;
  overflow-y: auto; 
}

.search-bar {
  width: 100%; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.enemy-list {
  display: flex;
  flex-direction: column;
}

.enemy-card {
  display: flex;
  align-items: center;
  margin: 5px 0; 
  cursor: pointer; 
}

.enemy-image {
  width: 5vw; 
  height: auto;
  margin-right: 1rem;
}

.details {
  margin-left: 5vw;
  width: 35vw;
  padding: 3rem;
  overflow-y: auto;
}

.details h2 {
  margin-bottom: 2rem;
}

.details img {
  width: 15vw; 
  height: auto;
}
