.items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.items-container {
  width: 100%;
  max-width: 85vw;
  background-image: url('/public/images/collectionmenu.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.78rem 2vw;
  overflow-y: auto;
  aspect-ratio: 16 / 9;
  margin-bottom: 2rem; 
}


.additional-section {
  width: 75vw;
  max-width: 85vw;
  height: 100vh;
  background-image: url("/public/images/unnamed.png");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  overflow-y: auto;
}

