.trans-container {
  width: 70vw;
  max-width: 80vw;
  height: 120vh;
  background-image: url("/public/images/unnamed (7).png");
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 6vw;
  overflow-y: auto;
}

.transformations-container {
  text-align: center;
}

.transformations-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.transformations-card {
  border-radius: 1rem;
  padding: 1vw;
  width: 12vw;
  background-color: #ffffff73;
  transition: transform 0.4s;
}
.transformations-card p {
  text-align:left;
  font-size: 1rem;
}
.transformations-card ul {
  font-size: 0.7rem;
}

.transformations-card:hover {
  transform: scale(1.35);
}

.transformations-card-image {
  width: 100%;
  height: auto;
}

h2 {
  margin-bottom: 1.5rem;
}
