@font-face {
  font-family: 'tboi';
  src: url('/public/upheavtt.ttf') format('truetype');
}

* {
  font-family: 'tboi', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('/public/imagenes/cursor-default.png'), auto;
}

*:active {
  cursor: url('/public/imagenes/cursor-click.png'), auto;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: optimizeQuality;
}


a {
  cursor: url('/public/imagenes/cursor-pointer.png'), pointer;
}

body.waiting {
  cursor: url('/public/imagenes/cursor-wait.png'), wait;
}

body, input, textarea {
  cursor: url('/public/imagenes/cursor-text.png'), text;
}

.button_appearence {
  margin-top: 5vh;
  width: 25vw;
  font-size: 2vw;
  padding: 2vh 2vw;
  border: none;
  border-radius: 1.5vw;
  background-color: #aa494988;
  color: #310000;
  transition: background-color 0.3s;
}
.button_appearence:hover {
  background-color: #cf808079;
}

.input_appearance {
  margin-top: 5vh;
  width: 25vw;
  height: 5vh;
  font-size: 1.5vw;
  padding: 2vh 2vw;
  border: none;
  border-radius: 1.5vw;
  background-color: #6329297a;
  color: #ffe0e0;
  transition: background-color 0.3s, box-shadow 0.3s;
  outline: none;
}
.input_appearance:hover {
  background-color: #421010a1;
}
.input_appearance:focus {
  background-color: #4e1010bb; 
  box-shadow: 0 0 0.2vw 0.1vw #3504047e; 
}


.full-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}

body {
  background-image: url('/public/images/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  width: 70vw;
  max-width: 80vw;
  height: 120vh;
  background-image: url('/public/images/unnamed.png');
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 5vw;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
